{% extends 'base.html' %}

{% block title %}Hempfield Baseball{% endblock %}
{% block title_extension %}{% endblock %}
{% block description %}<meta name="description" content="Hempfield High School Baseball · 200 Stanley Avenue Landisville, PA, 17538 USA.">{% endblock %}

{% block content %}
	<div class="jumbotron text-center">
  		<h1 class="display-4">HEMPFIELD BASEBALL</h1>
  		<p class="lead">200 STANLEY AVENUE, LANDISVILLE, PA, 17538, USA</p>
  		<hr class="my-4">
  		<p class="lead">
  			SECTION THREE: 1983, 1993
  		</p>
  		<p class="lead">
    		SECTION ONE: 1995, 1996, 1997, 2000, 2001, 2003, 2005, 2012, 2013, 2015, 2016, 2019
  		</p>
  		<p class="lead">
  			LANCASTER-LEBANON: 1974, 1996, 1997, 1998, 1999, 2004, 2005, 2008, 2014
  		</p>
  		<p class="lead">
  			DISTRICT 3: 2004, 2015
  		</p>
</div>
{% endblock %}