/* FONTS AND SIZING */
p {
    font-family: 'Ubuntu', sans-serif;
}

/* MOBILE */
h1 {
    font-size: 1.75rem;
}

#rosterHeading, #coachesHeading, h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.05rem;
}

p, th, td {
    font-size: .75rem;
}

#playerInfo p {
    font-size: 1rem;
}

/* NON-MOBILE */
@media (min-width: 768px) {
    #rosterHeading, h1 {
        font-size: 2.5rem;
    }

    #coachesHeading {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }

    p, th, td {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .team-picture { display: none; }
}