@use "../abstracts/colors" as *;

.link {
  color: $clr-primary-500;
  text-decoration: none;

  &:hover {
    color: $clr-primary-700;
  }
  &:active {
    color: $clr-primary-300;
  }

  &--underlined {
    text-decoration: underline;
  }
}
