{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/playerprogress.css' %}">
{% endblock %}

{% block content %}

	<div class="container pt-5 mb-4 text-center">
		<a href="{% url 'playerprogress:leaderboards_index' %}" class="button">
			<span>
				<i class="pe-1 fa fa-chevron-left"></i>
			</span>
			<span>
				Leaderboards
			</span>
		</a>
	</div>

	{% block leaderboards %}

	{% endblock %}

	<div class="container mt-5 mb-5 text-center">
		<a href="{% url 'playerprogress:leaderboards_index' %}" class="button">
			<span>
				<i class="pe-1 fa fa-chevron-left"></i>
			</span>
			<span>
				Leaderboards
			</span>
		</a>
	</div>

{% endblock %}