{% extends 'base_leaderboard.html' %}

{% block title %}
	Lifting Improvement Leaderboards - Hempfield Baseball
{% endblock %}

{% block leaderboards %}

	{% for lift_name, top_improvements in lift_improvement_leader_data.items %}
		{% if top_improvements %}
			<br>

			<div class="container">
				<h2 class="display-4 text-center">{{ lift_name }}</h2>
		   		<table class="table table-striped table-bordered shadow">
		      		<thead class="thead-dark">
		   				<tr class="text-center">
		  					<th class="">Player</th>
		      				<th class="">Improvement</th>
		      				<th class="">Period</th>
		      			</tr>
		   			</thead>
		   			<tbody>
						{% for improvement in top_improvements %}
							<tr class="text-center">
								<td class="align-middle">
									<h5>
										<a href="/roster/{{improvement.player.player_link}}" class="text-danger">
											{{ improvement.player.full_name }}
										</a>
									</h5>
								</td>
								<td class="align-middle text-success">
									{{ improvement.improvement }} SP
									<small class="text-muted d-block">
										{{ improvement.baseline.strength_points }} SP
										-
										{{ improvement.latest.strength_points }} SP
									</small>
									<small class="text-muted d-block">
										{{ improvement.baseline.sets }}
										-
										{{ improvement.latest.sets }}
									</small>
								</td>
								<td class="align-middle">
									{{ improvement.baseline.date }}
									-
									{{ improvement.latest.date }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<br>
		{% endif %}
	{% endfor %}

{% endblock %}