{% extends 'base_leaderboard.html' %}

{% block title %}
	Misc. Leaderboards - Hempfield Baseball
{% endblock %}

{% block leaderboards %}

	{% if body_weight_improvement_leaders %}
		<br>

		<div class="container">
			<h2 class="display-4 text-center">Body Weight</h2>
	   		<table class="table table-striped table-bordered shadow">
	      		<thead class="thead-dark">
	   				<tr class="text-center">
	  					<th class="">Player</th>
	      				<th class="">Improvement</th>
	      				<th class="">Period</th>
	      			</tr>
	   			</thead>
	   			<tbody>
					{% for improvement in body_weight_improvement_leaders %}
						<tr class="text-center">
							<td class="align-middle">
								<h5>
									<a href="/roster/{{improvement.player.player_link}}" class="text-danger">
										{{ improvement.player.full_name }}
									</a>
								</h5>
							</td>
							<td class="align-middle text-success">
								{{ improvement.improvement }} lbs
								<small class="text-muted d-block">
									{{ improvement.baseline.weight }} lbs
									-
									{{ improvement.latest.weight }} lbs
								</small>
							</td>
							<td class="align-middle">
								{{ improvement.baseline.date }}
								-
								{{ improvement.latest.date }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<br>
	{% endif %}

{% endblock %}