@use "abstracts" as *;

/* FONTS AND SIZING */
p {
    font-family: 'Ubuntu', sans-serif;
}

/* MOBILE */
#rosterHeading, #coachesHeading{
    font-size: 1.5rem;
}

#playerInfo p {
    font-size: 1rem;
}

#progressHeader h3 {
    color: $clr-neutral-800;
}

.player-number {
    display: inline-block;
    color: $clr-primary-500;
    background-color: $clr-neutral-900;
    border-radius: .15em;
}

/* CUSTOM ACCORDION WITH TABS */
#accordion {
  .accordion-button {
    background-color: $clr-neutral-800;

    &:after {
      width: 0;
      height: 0;
      margin-left: 0;
      background-image: none;
    }
    &:focus {
      border-color: $clr-primary-500;
      box-shadow: 0 0 0 0.25rem rgba(223, 35, 35, 0.3);
    }

    h3 {
      margin: auto;
      color: $clr-primary-300;

      .fa {
        color: $clr-neutral-100;
      }
    }
  }

  .nav-tabs {
    position: relative;
    z-index: 1;
    background-color: white;
    min-height: 0; // override default nav class needed for bootstrap

    li a {
      color: $clr-neutral-800;

      &:hover {
        color: $clr-primary-300;
        
      }

      &.active, &.active:hover, &.active:focus {
        color: $clr-primary-300;
        background-color: $clr-neutral-800;

      }
    }
  }
}

/* NON-MOBILE */
@media (min-width: 768px) {
    #rosterHeading {
        font-size: 2.5rem;
    }

    #coachesHeading {
        font-size: 2rem;
    }

    #rosterHeading, #coachesHeading {
        letter-spacing: 2px;
    }
}