/* COLOR SCHEME */
:root {
  scroll-behavior: auto;

  --main-black: #1f1f1f;
  --dark-gray: #303030;
  --main-gray: #707070;
  --light-gray: #D3D3D3;
  --off-white: #f8f8ff;

  --main-red: #C5050C;
  --dark-red: DarkRed;
  --dull-red: #731010;
  --light-red: #ff3b3b;

}

/* FONTS AND SIZING */
h1, h2, h3, h4, h5, h6, th, td, li, a {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Lora', serif;
}

/* Mobile Screen Sizes */
h1 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.05rem;
}

h5, p, th, td {
  font-size: .75rem;
}

td small {
  font-size: .55rem;
}

/* Non-Mobile */
@media (min-width: 768px) {
  h1 {
      font-size: 2.5rem;
  }

  h3 {
      font-size: 1.75rem;
  }
  
  h4 {
      font-size: 1.5rem;
  }

  h5 {
      font-size: 1.25rem;
  }

  p, th, td {
      font-size: 1rem;
  }

  td small {
      font-size: .9rem;
  }
}

/* SCROLL BAR */
#pageContainer::-webkit-scrollbar {
  width: .55rem;
}
#pageContainer::-webkit-scrollbar-track {
  background: var(--main-black);
}
#pageContainer::-webkit-scrollbar-thumb {
  background: var(--main-red);
  border-radius: 10px;
}
#pageContainer::-webkit-scrollbar-thumb:hover {
  background: var(--dark-red);
}

/* TEXT DECORATION */
.text-shadow-lg {
  text-shadow: 1px 1px 2px #222629;
}
.text-shadow-md {
  text-shadow: .5px .5px 1px #222629;
}
.text-shadow-sm {
  text-shadow: .25px .25px .5px #222629;
}

#pageContainer a {
  color: var(--main-red);
}
#pageContainer a:hover {
  color: var(--dark-red);
}
#pageContainer a:active {
  color: var(--light-red);
}

/* MAIN PAGE FORMATTING */
#pageContainer {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#main-content {
  margin-top: 56px;
}

/* FOOTER */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#footer p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
}

/* NAVIGATION */
#pageContainer .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
#pageContainer .navbar a {
  color: var(--light-gray);
}
#pageContainer .navbar a:hover {
  color: var(--main-red);
}
#pageContainer .navbar a:active {
  color: var(--dark-red);
}

#pageContainer .navbar-toggler {
  color: var(--light-gray);
}

#pageContainer .dropdown-menu a {
  color: var(--dark-gray);
}
#pageContainer .dropdown-menu a:active {
  color: var(--dark-red);
  background-color: var(--light-gray);
}

.dropdown-toggle::after {
  transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(2.5px);
}

.dropdown-menu {
    margin-top: 0;
}

/* RESPONSIVE STYLING */
.short-text { display: none; }

@media (max-width: 768px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}

/* EMBEDDING VIDEOS */
.video-box {
  position:   relative;
  width: 90%;
  height: 0;
  padding-top: 50.625%;
}
.video {
  position: absolute;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;
  width:    100%;
  height:   100%
}

/* CUSTOM ACCORDION WITH TABS */
#pageContainer .accordion-button {
  background-color: var(--dark-gray);
}
#pageContainer .accordion-button:after {
  width: 0;
  height: 0;
  margin-left: 0;
  background-image: none;
}
#pageContainer .accordion-button:focus {
  border-color: var(--main-red);
  box-shadow: 0 0 0 0.25rem rgba(223, 35, 35, 0.3);
}

#pageContainer .accordion-button h3 {
  margin: auto;
  color: var(--light-red);
}
#pageContainer .accordion-button h3 .fa {
  color: var(--off-white);
}


#pageContainer .nav-tabs li a.active,
#pageContainer .nav-tabs li a.active:hover,
#pageContainer .nav-tabs li a.active:focus {
  color: var(--light-red);
  background-color: var(--dark-gray);
}
#pageContainer .nav-tabs li a {
  color: var(--dark-gray);
}
#pageContainer .nav-tabs li a:hover {
  color: var(--light-red);
}