{% extends 'base.html' %}
{% load static %}

{% block title %}College Alumni{% endblock %}
{% block description %}<meta name="description" content="Hempfield Baseball alumni who have gone on to play at the collegiate level.">{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/alumni.css' %}">
{% endblock %}

{% block content %}
  <div class="container pt-4">
  	<h1 class="text-shadow-sm text-center">
  		HEMPFIELD BASEBALL COLLEGE ALUMNI
  	</h1>
    <p class="text-center text-muted">
      (click cards to visit college roster pages)
    </p>
  </div>

  {% for class in alumni_classes %}
    <div class="container">
  	  <hr>
  	  <h2 class="text-shadow-sm text-center">
  	    CLASS OF {{ class.year }}
  	  </h2>
    </div>

    <div class="container">
  	  <div class="row">
  	    {% for player in class.players.all %}
  	      <div class="col-lg-3 col-md-4 mx-auto mt-3 mb-4">

  	        <div class="card shadow-lg mx-auto">
  	  	      <a href="{{ player.college_roster_link }}" target="_blank">
		        <img class="card-img-top img-thumbnail" src="{{ player.college_roster_photo.url }}" alt="{{ player.first_name }} {{ player.last_name }} college roster photo">
		        <div class="card-body text-danger">
		          <h4 class="card-title text-center">{{ player.first_name }} {{ player.last_name }}</h4>
		          <p class="card-text text-center">{{ player.college }}</p>
		        </div>
	          </a> 
		    </div>

		  </div>
  	    {% endfor %}
	  </div>
    </div> 
  {% endfor %}
{% endblock %}

