{% extends 'base.html' %}
{% load static %}

{% block title %}College Alumni{% endblock %}
{% block description %}<meta name="description" content="Hempfield Baseball alumni who have gone on to play at the collegiate level.">{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/alumni.css' %}">
{% endblock %}

{% block content %}
  <div class="container pt-4">
  	<h1 class="text-shadow-lg text-center px-3">
  		HEMPFIELD BASEBALL COLLEGE ALUMNI
  	</h1>
  </div>

  {% for class in alumni_classes %}
    <div class="container">
  	  <hr>
  	  <h2 class="text-shadow-md text-center">
  	    CLASS OF {{ class.year }}
  	  </h2>
    </div>

    <div class="container">
  	  <div class="row">
  	    {% for player in class.players.all %}
  	      <div class="col-lg-4 col-md-6 mx-auto mt-3 mb-4">

  	        <div class="alumni-card shadow-lg mx-auto">
  	  	      <a href="{{ player.college_roster_link }}" target="_blank">
				<div class="row">
					<div class="alumni-card-img col-5 pe-0">
						<img class="" src="{{ player.college_roster_photo.url }}" alt="{{ player.first_name }} {{ player.last_name }} college roster photo">
					</div>
					<div class="alumni-card-info col-7 ps-1 pe-3 pt-5 ps-md-3 pe-md-3 pt-md-4 pt-lg-5 ps-lg-0">
						<h4 class="text-shadow-sm">{{ player.first_name }} {{ player.last_name }}</h4>
						<p class="text-shadow-sm">{{ player.college }}</p>
					</div>
				</div>
	          </a> 
		    </div>

		  </div>
  	    {% endfor %}
	  </div>
    </div> 
  {% endfor %}
{% endblock %}

