{% load playerprogress_tags %}

{% for velocity_name, velocities in velocity_data.items %}
	{% if velocities %}
		<div id="{{ velocity_name|id_format }}Data" class="card">

			<div id="{{ velocity_name|id_format }}Heading" class="card-header text-center">
					<button class="btn btn-link collapsed text-danger" data-toggle="collapse" data-target="#{{ velocity_name|id_format }}Content" aria-expanded="true" aria-controls="{{ velocity_name|id_format }}Content">
						<h3>
							<span>
								{{ velocity_name }} Velocity
							</span>
							<span>
						    	<i class="text-dark fa fa-plus-square"></i>
						    </span>
						</h3>
					</button>
			</div>

			
			<div id="{{ velocity_name|id_format }}Content" class="collapse" aria-labelledby="{{ velocity_name|id_format }}Heading" data-parent="#accordion">
				<div class="card-body">

					<ul id="{{ velocity_name|id_format }}-tab" class="nav nav-tabs justify-content-center" role="tablist">
							
						<li class="nav-item" role="presentation">
							<a id="{{ velocity_name|id_format }}-chart-tab" class="nav-link active" data-toggle="tab" href="#{{ velocity_name|id_format }}-chart" role="tab" aria-controls="{{ velocity_name|id_format }}-chart" aria-selected="true">Graph</a>
						</li>

						<li class="nav-item" role="presentation">
							<a id="{{ velocity_name|id_format }}-table-tab" class="nav-link" data-toggle="tab" href="#{{ velocity_name|id_format }}-table" role="tab" aria-controls="{{ velocity_name|id_format }}-table" aria-selected="false">Table</a>
						</li>

					</ul>

					<br>

					<div class="tab-content" id="{{ velocity_name|id_format }}-tabContent">

						<div class="container tab-pane fade show active" id="{{ velocity_name|id_format }}-chart" style="height: 50vh; width: 100%" role="tabpanel" aria-labelledby="{{ velocity_name|id_format }}-chart-tab">
							<canvas id="{{ velocity_name|id_format }}Chart"></canvas>
						 </div>

						 <div class="container tab-pane fade" id="{{ velocity_name|id_format }}-table" role="tabpanel" aria-labelledby="{{ velocity_name|id_format }}-table-tab">
						  	<table class="table table-striped table-bordered">
								<thead class="thead-dark">
									<tr class="text-center">
										<th>Date</th>
										<th>Velocity</th>
									</tr>
								</thead>
								<tbody>
									{% for velocity in velocities %}
										<tr class="text-center">
											<td class="align-middle">
												{{ velocity.date }}
											</td>
											<td class="align-middle">
												{{ velocity.velocity }} mph
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>	
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}