<div id="playerInfo" class="container pt-2">
	<div class="row">
		<div class="col-md-3 text-center mb-3 pl-md-4 pl-lg-5">
			{% if player.roster_photo %}
                  <img src="{{ player.roster_photo.url }}" width="175px" class="rounded border border-dark shadow-lg" alt="{{ player.info.full_name }} roster photo">
            {% endif %}
		</div>

		<div class="col-md-7 px-4 px-md-3 ml-md-4 ml-lg-2">
			<h1>
				<span class="text-danger px-2 pb-1" style="background-color: black; display: inline-block;">{{ player.number }}</span>
				<span style="font-size: smaller;">{{ player.info.full_name|upper }}</span>
			</h1>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<p>
						<b>CLASS:</b> {{ player.info.graduation_year }}
					</p>
					<hr>
					<p>
						<b>POSITION:</b> {{ player.position }}
					</p>
					<hr>
					<p>
						<b>BATS/THROWS:</b> {{ player.info.bats }}/{{ player.info.throws }}
					</p>
					<hr>
				</div>
				<div class="col-md-6">
					<p>
						<b>HEIGHT:</b> {{ player.height }}
					</p>
					<hr>
						<p>
							<b>WEIGHT:</b> {{ player.weight }} lbs
						</p>
						<hr>
				</div>
			</div>
		</div>

	</div>
</div>