{% load playerprogress_tags %}

{% if body_weights %}
	<div id="bodyWeightData" class="card">

		<div id="bodyweightHeading" class="card-header text-center">
				<button class="btn btn-link collapsed text-danger" data-toggle="collapse" data-target="#bodyweightContent" aria-expanded="true" aria-controls="bodyweightContent">
					<h3>
						Body Weight
						<span>
						    <i class="text-dark fa fa-plus-square"></i>
						</span>
					</h3>
				</button>
		</div>

		
		<div id="bodyweightContent" class="collapse" aria-labelledby="bodyweightHeading" data-parent="#accordion">
			<div class="card-body">

				<ul class="nav nav-tabs justify-content-center" id="bodyweight-tab" role="tablist">
						
						<li class="nav-item" role="presentation">
							<a class="nav-link active" id="bodyweight-chart-tab" data-toggle="tab" href="#bodyweight-chart" role="tab" aria-controls="bodyweight-chart" aria-selected="true">Graph</a>
						</li>

						<li class="nav-item" role="presentation">
							<a class="nav-link" id="bodyweight-table-tab" data-toggle="tab" href="#bodyweight-table" role="tab" aria-controls="bodyweight-table" aria-selected="false">Table</a>
						</li>

				</ul>

				<br>

				<div class="tab-content" id="bodyweight-tabContent">

					<div class="container tab-pane fade show active" id="bodyweight-chart" style="height: 50vh; width: 100%" role="tabpanel" aria-labelledby="bodyweight-chart-tab">
						<canvas id="bodyweightChart"></canvas>
					 </div>

					 <div class="container tab-pane fade" id="bodyweight-table" role="tabpanel" aria-labelledby="bodyweight-table-tab">
					  	<table class="table table-striped table-bordered">
							<thead class="thead-dark">
								<tr class="text-center">
									<th>Date</th>
									<th>Body Weight</th>
								</tr>
							</thead>
							<tbody>
								{% for body_weight in body_weights %}
									<tr class="text-center">
										<td class="align-middle">
											{{ body_weight.date }}
										</td>
										<td class="align-middle">
											{{ body_weight.weight }} lbs
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>	
			</div>
		</div>
	</div>
{% endif %}