@use "../abstracts" as *;
  
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#page {
  overflow-x: hidden;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 9999;

  min-height: 9vh;
  width: 100%;
  top: 0;

  background-color: $clr-neutral-900;

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;

    width: 70%;
    height: 91vh;
    top: 9vh;
    left: 0px;
    padding: 0;
    
    background-color: $clr-neutral-900;

    transform: translateX(-100%);
    transition: transform 0.25s ease-in;

    &--active {
      transform: translateX(0%);
    }
  }

  &__item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    color: $clr-neutral-300;
    position: relative;
    text-shadow: 0.1px 0.1px 0.2px $clr-neutral-200;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    opacity: 0;

    &:hover, &:focus {
      color: $clr-primary-400;
      text-shadow: 0.1px 0.1px 0.2px $clr-primary-300;
    }
  }
}

.burger {
  display: block;
  position: absolute;
  cursor: pointer;
  margin-left: 12px;
  padding: 0.25rem 0.75rem;
  border: 1px solid;
  border-radius: 0.25rem;
  border-color: $clr-neutral-400;

  &__line {
    width: 25px;
    height: 3px;
    background-color: $clr-neutral-400;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  &--toggle {
    border-color: $clr-primary-500;
    transition: all 0.3s ease;
  
    .burger__line-1 {
      transform: rotate(-45deg) translate(-5px, 6px);
      background-color: $clr-primary-500;
    }
    .burger__line-2 {
      opacity: 0;
    }
    .burger__line-3 {
      transform: rotate(45deg) translate(-5px, -6px);
      background-color: $clr-primary-500;
    }
  }
}

.logo {
  display: none;

  &-mobile {
    display: block;
    width: 150px;
    height: 9vh;
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 24px;

    &__image {
      padding: 1.5vh 0;
      height: 9vh;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    position: static;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    width: 100%;
    height: 9vh;
    margin: 0;

    transform: none;
    transition: none;
  }

  .nav__link {
    font-size: 16px;
    letter-spacing: 4px;
    opacity: 1;
    transition: all 0.15s ease-out;

    &:after {
      content: "";
      position: absolute;
      visibility: hidden;
      
      width: 100%;
      height: 3px;
      bottom: -4px;
      left: 0;

      background: $clr-primary-500;

      transform: scaleX(0);
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover {
      color: $clr-neutral-400;
      text-shadow: 0.1px 0.1px 0.2px $clr-neutral-600;
      transition: all .1s ease-out;

      &:after {
        visibility: visible;
        transform: scaleX(1);
      }
    }
    &:focus {
      color: $clr-neutral-100;
      transition: none;
    }
  }

  .burger {
    display: none;
  }

  .logo {
    display: block;

    &__image {
      transition: transform 200ms ease;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  
    &-mobile {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .nav__link {
    font-size: 18px;
    letter-spacing: 5px;
  }
}

