/* Player Progress Leaderboards Styling */
p {
    font-family: 'Ubuntu', sans-serif;
}

/* Mobile Screen Sizes */
h1 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.05rem;
}

h5, p, th, td {
    font-size: .75rem;
}

td small {
    font-size: .55rem;
}

#playerInfo p {
    font-size: 1rem;
}

/* Large Screen Size */
@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    p, th, td {
        font-size: 1rem;
    }

    td small {
        font-size: .9rem;
    }
}