{% extends 'base.html' %}
{% load teammanagement_tags %}

{% block title %}
  Roster - Hempfield Baseball
{% endblock %}

{% block stylesheet %}
<style>
  .short-text { display: none; }

  @media (max-width: 720px) {
    .short-text { display: inline-block; }
    .full-text, .team-picture { display: none; }
  }

  h4 {
    font-size: 1.05rem;
  }

  p {
    font-size: .75rem;
  }

  @media (min-width: 544px) {  
    h4 {
      font-size:1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

</style>
{% endblock %}

{% block content %}
  <br>
  <div class="container">
    <h2 class="text-center">
      {{ team.year }} HEMPFIELD BASEBALL
    </h2>
  </div>

  {% if team.team_photo %}
    <div class="container team-picture text-center mb-4 mt-2">
      <hr>
      <img src="{{ team.team_photo.url }}" width="95%" class="rounded">
    </div>
  {% endif %}

  <div class="container">
    <table class="table table-striped shadow-lg">
      <tbody>
        {% for player in team.players.all %}
            <tr>       
              <td class="pl-4" style="max-width: 125px">
                {% if player.roster_photo %}
                  <img src="{{ player.roster_photo.url }}" width="100" class="rounded">
                {% endif %}
              </td>

              <td class="col text-left pl-2 pt-4">
                <div class="row">
                  <div class="col-md-9">
                    <p class="pt-2">
                      <b>
                        <span class="full-text">{{ player.position.name|upper }}</span>
                        <span class="short-text">{{ player.position.abbr|upper }}</span>
                      </b>
                      / {{ player.height }}
                      / {{ player.weight }} LBS
                      / {{ player.info.bats }}/{{ player.info.throws }}
                    </p>
                    <h4 class="mb-3">
                      {{ player.number }}
                      <a href="{% url 'teammanagement:player-page' player.info.player_link %}" class="text-danger">
                        {{ player.info.full_name|upper }}
                      </a>
                    </h4>
                  </div>

                  <div class="col-md-3">
                    <p class="text-muted pt-md-4">
                      <span class="year">{{ player.info|class_standing:team.year|upper }}</span>
                      <!--span class="short-text">{{ player.info|class_standing_abbr:team.year|upper }}</span-->
                    </p>
                  </div>
                </div>
              </td> 

            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

  <h2 class="text-center">
    COACHING STAFF
  </h2>

  <div class="container">
    <table class="table table-striped shadow-lg">
      <tbody>
        {% for coach in team.coaches.all %}
            <tr>
          
                <td class="pl-4" style="max-width: 125px">
                  {% if coach.roster_photo %}
                    <img src="{{ coach.roster_photo.url }}" width="100" class="rounded">
                  {% else %}
                    Picture?
                  {% endif %}
                </td>

                <td class="col text-left py-4 pl-3">
                  <p class="pt-2">
                    <b>{{ coach.role.name|upper }} COACH</b>
                  </p>
                  <h4>
                    <a href="{% url 'teammanagement:current-roster' %}" class="text-danger">
                      {{ coach.info.full_name|upper }}
                    </a>
                  </h4>
                </td>

            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}