{% extends 'base.html' %}
{% load static %}
{% load teammanagement_tags %}

{% block title %}{{ team.year }} Roster{% endblock %}
{% block description %}<meta name="description" content="{{ team.year }} Hempfield High School baseball roster.">{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/teammanagement.css' %}">
{% endblock %}

{% block content %}
  <div class="container pt-3">
    <h1 id="rosterHeading" class="text-center text-shadow-lg">
      {{ team.year }} HEMPFIELD BASEBALL
    </h1>
  </div>

  {% if team.team_photo %}
    <div id="teamPhoto" class="container text-center mb-4 mt-2">
      <hr>
      <img src="{{ team.team_photo.url }}" width="95%" class="rounded">
    </div>
  {% endif %}

  <div class="container">
    <table id="rosterPlayers" class="table table-striped shadow-lg">
      <tbody>
        {% for player in team.players.all %}
            <tr class="roster-player-row border">
              <td class="col-1 ps-3 align-items-center" style="max-width: 125px">
                {% if player.roster_photo %}
                  <img src="{{ player.roster_photo.url }}" width="100" class="rounded" alt="{{ player.personal_info.full_name }} roster photo">
                {% endif %}
              </td>

              <td class="col-11 pt-4">
                <div class="row">
                  <div class="col-md-9">
                    <p class="pt-2">
                      <b>
                        <span class="full-text">{{ player.position.name|upper }}</span>
                        <span class="short-text">{{ player.position.abbr|upper }}</span>
                      </b>
                      / {{ player.height }}
                      / {{ player.weight }} LBS
                      / {{ player.personal_info.bats }}/{{ player.personal_info.throws }}
                    </p>
                    <h4 class="mb-3">
                      <span class="text-danger px-1" style="background-color: black; display: inline-block; border-radius: 4px;">{{ player.number }}</span>
                      <a href="{% url 'teammanagement:player-page' player.personal_info.player_link %}" class="text-shadow-sm text-decoration-none">
                        {{ player.personal_info.full_name|upper }}
                      </a>
                    </h4>
                  </div>

                  <div class="col-md-3">
                    <p class="text-muted pt-md-4">
                      <span class="year">{{ player.personal_info|class_standing:team.year|upper }}</span>
                      <!--span class="short-text">{{ player.personal_info|class_standing_abbr:team.year|upper }}</span-->
                    </p>
                  </div>
                </div>
              </td> 

            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

  <h3 id="coachesHeading" class="text-shadow-lg text-center">
    COACHING STAFF
  </h3>

  <div class="container">
    <table id="rosterCoaches" class="table table-striped shadow-lg">
      <tbody>
        {% for coach in team.coaches.all %}
            <tr class="roster-coach-row border">
                <td class="col-1 ps-3 align-items-center" style="max-width: 125px">
                  {% if coach.roster_photo %}
                    <img src="{{ coach.roster_photo.url }}" width="100" class="rounded" alt="Coach {{ coach.personal_info.full_name }} roster photo">
                  {% endif %}
                </td>

                <td class="col-11 py-4">
                  <p class="pt-2">
                    <b>{{ coach.role.name|upper }} COACH</b>
                  </p>
                  <h4>
                    <a href="" class="text-shadow-sm text-decoration-none">
                      {{ coach.personal_info.full_name|upper }}
                    </a>
                  </h4>
                </td>

            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}