$clr-neutral-100: hsl(240, 100%, 99%);
$clr-neutral-200: hsl(0, 0%, 95%);
$clr-neutral-300: hsl(0, 0%, 85%);
$clr-neutral-400: hsl(0, 0%, 80%);
$clr-neutral-500: hsl(0, 0%, 60%);
$clr-neutral-600: hsl(0, 0%, 45%);
$clr-neutral-700: hsl(0, 0%, 30%);
$clr-neutral-800: hsl(0, 0%, 20%);
$clr-neutral-900: hsl(0, 0%, 10%);

$clr-primary-300 : hsl(0, 100%, 55%);
$clr-primary-500: hsl(355, 100%, 40%);
$clr-primary-600: hsl(355, 100%, 32.5%);
$clr-primary-700: hsl(355, 100%, 25%);
