{% extends 'base.html' %}
{% load static %}

{% block title %}Book Resources{% endblock %}
{% block description %}<meta name="description" content="Mental development book resources.">{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/resources.css' %}">
{% endblock %}

{% block content %}
    <div class="container text-center pt-1 pt-md-2">
        {% for book_type, books in books_by_type.items %}
            {% if books %}
                <hr>
                <h2 class="text-shadow-sm mb-2">
                    {{ book_type }} Books
                </h2>
            {% endif %}
            {% for book in books %}
                <div class="mb-4">
                    <hr>
                    <h4 class="text-shadow-sm mb-1">
                        <a href="{{ book.amazon_url }}" class="text-danger text-decoration-underline" target="_blank">
                            {{ book.name }}
                        </a>
                    </h4>
                    <h5 class="text-muted">
                        by {{ book.author }}
                    </h5>
                    <div class="container text-center">
                        <a href="{{ book.amazon_url }}" class="text-danger text-decoration-underline" target="_blank">
                            <img src="{{ book.image.url }}" width="25%" class="rounded border border-dark shadow" alt="{{ book.name }} book cover image">
                        </a>
                      </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}