{% extends 'base.html' %}
{% load static %}

{% block title %}Diet Resources{% endblock %}
{% block description %}<meta name="description" content="Diet tracking templates and articles.">{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/resources.css' %}">
{% endblock %}

{% block content %}
    <div class="container text-center pt-2">
        <hr>
        <h2 class="sub-header mb-3">
            Diet Documents
        </h2>
        <div class="row">
        {% for document in diet_documents %}
            <div class="col-md-4 mx-auto mt-3 mb-4 w-75" style="max-width: 350px;">

                <div class="card shadow-lg mx-auto">
                  <img class="card-img-top img-thumbnail" src="{{ document.image.url }}" alt="{{ document.name }} card image cap">
                  <div class="card-body">
                    <h4 class="card-title text-center">{{ document.name }}</h4>
                    <a href="{{ document.file.url }}" class="btn btn-danger">
                        Download
                    </a>
                  </div>
              </div>
  
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="container text-center mt-md-4">
        <hr>
        <h2 class="sub-header mb-3">
            Diet Articles
        </h2>
        {% for link in diet_website_links %}
            <div class="mb-3">
                <h4 class="sub-header mb-4">
                    <a href="{{ link.url }}" class="text-danger" target="_blank">
                        {{ link.name }}
                    </a>
                </h4>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}