{% extends 'base.html' %}

{% block title %}
	Hitting Development Articles - Hempfield Baseball
{% endblock %}

{% block stylesheet %}
<style>
    .title {
		text-shadow: .25px .25px .5px #222629;
	}
</style>
{% endblock %}

{% block content %}
    <div class="container text-center mt-md-4">
        <hr>
        <h2 class="title mb-3">
            Hitting Development Articles
        </h2>
        {% for link in hitting_article_links %}
            <div class="mb-4">
                <h4 class="title mb-3">
                    <a href="{{ link.url }}" class="text-danger" target="_blank">
                        {{ link.name }}
                    </a>
                </h4>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}