{% extends 'base.html' %}
{% load static %}

{% block title %}
	Hitting Development Articles
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/resources.css' %}">
{% endblock %}

{% block content %}
    <div class="container text-center pt-1 pt-md-2">
        <hr>
        <h2 class="sub-header mb-3">
            Hitting Development Articles
        </h2>
        {% for link in hitting_article_links %}
            <div class="mb-4">
                <h4 class="sub-header mb-3">
                    <a href="{{ link.url }}" class="text-danger" target="_blank">
                        {{ link.name }}
                    </a>
                </h4>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}