{% extends 'base.html' %}
{% load static %}

{% block title %}
	Hitting Videos
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/resources.css' %}">
{% endblock %}

{% block content %}
    <div class="container text-center pt-1 pt-md-2">
        {% for video_link in hitting_video_links %}
            <div class="mb-5">
                <hr>
                <h4 class="sub-header mb-3">
                    {{video_link.name}}
                </h4>
                <div class="container video-box text-center shadow">
                    <iframe class="video" src="{{ video_link.url }}" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}