{% extends 'base.html' %}
{% load static %}

{% block title %}Resources{% endblock %}
{% block description %}<meta name="description" content="Player resources landing page.">{% endblock %}

{% block content %}
	
	<div class="container text-center pt-2">
		<hr>
		<h2 class="text-shadow-lg display-3">Resources</h2>
		<div class="row">

			<div class="col-md-6 mb-4 mx-auto px-4">
				<div class="card shadow border border-dark">
					<img class="card-img-top" src="{% static 'img/resources/diet.jpg' %}" alt="Diet card image cap">
					<div class="card-body">
						<a href="{% url 'resources:resources-diet' %}" class="button">
							Diet
						</a>
					</div>
				</div>
			</div>


			<div class="col-md-6 mb-4 mx-auto px-4">
				<div class="card shadow border border-dark">
					<img class="card-img-top" src="{% static 'img/resources/books.jpg' %}" alt="Books card image cap">
					<div class="card-body">
						<a href="{% url 'resources:resources-mental-baseball' %}" class="button">
					    	Mental Baseball
						</a>
					</div>
				</div>
			</div>

	    </div>

	</div>


	<!--div class="container text-center mt-3">
		
		<hr>
		<h2 class="text-shadow-lg display-4">Hitting</h2>
		<div class="row">

			<div class="col-lg mb-4 mx-auto w-75">
				<div class="card shadow border border-dark">
					<img class="card-img-top" src="{% static 'img/resources/hitting-videos.jpg' %}" alt="Hitting videos card image cap">
					<div class="card-body">
						<hr>
						<a href="{% url 'resources:resources-hitting-videos' %}" class="btn btn-danger shadow">
							<h4>Hitting Videos</h4>
						</a>
						<hr>
					</div>
				</div>
			</div>

			<div class="col-lg mb-4 mx-auto w-75">
				<div class="card shadow border border-dark">
					<img class="card-img-top" src="{% static 'img/resources/hitting-articles.jpg' %}" alt="Hitting articles card image cap">
					<div class="card-body">
						<hr>
						<a href="{% url 'resources:resources-hitting-articles' %}" class="btn btn-danger shadow">
							<h4>Hitting Articles</h4>
						</a>
						<hr>
					</div>
				</div>
			</div>

		</div>

	</div-->

{% endblock %}