{% load static %}<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FHRYL1X7P2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FHRYL1X7P2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Default Title{% endblock %}</title>
    <meta name="description" content="Hempfield Baseball · 200 Stanley Avenue Landisville, PA, 17538 USA. SECTION THREE: 1983, 1993. SECTION ONE: 1995, 1996, 1997, 2000, 2001, 2003, 2005, 2012, 2013, 2015, 2016, 2019. LANCASTER-LEBANON: 1974, 1996, 1997, 1998, 1999, 2004, 2005, 2008, 2014. DISTRICT 3: 2004, 2015.">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    
    <style>
      #page-container {
        position: relative;
        min-height: 100vh;
        padding-bottom: 2.5rem;
      }

      #content-wrap {
        padding-bottom: 2.5rem;
      }

      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        }

      .dropdown-toggle::after {
        transition: transform 0.15s linear; 
      }
 
      .show.dropdown .dropdown-toggle::after {
        transform: translateY(2.5px);
      }

      .dropdown-menu {
        margin-top: 0;
      }
    </style>

    {% block stylesheet %}{% endblock %}

  </head>

  <body id="page-container">
    <div id="content-wrap">
      <header>
        
      </header>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          MENU
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item text-left">
              <a class="nav-link" href="{% url 'teammanagement:site-index' %}">HOME</a>
            </li>
            <li class="nav-item text-left">
              <a class="nav-link" href="{% url 'teammanagement:current-roster' %}">ROSTER</a>
            </li>
            <li class="nav-item text-left">
              <a class="nav-link" href="{% url 'alumni:college-alumni' %}">ALUMNI</a>
            </li>

            <li class="nav-item dropdown text-left">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                STAR FORGE
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="text-left">
                  <a class="dropdown-item" href="{% url 'resources:resources-index' %}">RESOURCES</a>
                </li>
                <!--li  class="text-left">
                  <a class="dropdown-item" href="{% url 'playerprogress:progress-leaderboards-index' %}">LEADERBOARDS</a>
                </li-->
              </ul>
            </li>

          </ul>
        </div>
      </nav>

      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>

  <footer id="footer" class="page-footer">
    <div class="container text-center">
      <p class="text-muted">© 2021 Hempfield Baseball</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script>
    const $dropdown = $(".dropdown");
    const $dropdownToggle = $(".dropdown-toggle");
    const $dropdownMenu = $(".dropdown-menu");
    const showClass = "show";
         
    $(window).on("load resize", function() {
      if (this.matchMedia("(min-width: 768px)").matches) {
        $dropdown.hover(
          function() {
            const $this = $(this);
            $this.addClass(showClass);
            $this.find($dropdownToggle).attr("aria-expanded", "true");
            $this.find($dropdownMenu).stop(true, true).slideDown(200);
            $this.find($dropdownMenu).addClass(showClass);
          },
          function() {
            const $this = $(this);
            $this.removeClass(showClass);
            $this.find($dropdownToggle).attr("aria-expanded", "false");
            $this.find($dropdownMenu).stop(true, true).slideUp(200);
            $this.find($dropdownMenu).removeClass(showClass);
          }
        );
      } else {
        $dropdown.off("mouseenter mouseleave");
      }
    });
    </script>

    
    {% block javascript %}{% endblock %}
  
</html>