{% extends 'base.html' %}
{% load static %}

{% block title %}Leaderboards{% endblock %}
{% block description %}<meta name="description" content="Player improvement and performance leaderboards.">{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/playerprogress.css' %}">
{% endblock %}

{% block content %}

	<!--
	{% if lift_data_exists %}
		<div class="container text-center mt-4">

			<hr>
			<h2 class="section-header display-4">Lifting</h2>
			<div class="row text-center">

				<div class="col-md-3"></div>
				<div class="col-md-6 mb-4 mx-auto w-75">
					<div class="card shadow border border-dark">
					  <img class="card-img-top" src="{% static 'img/playerprogress/lifting-improvement.jpeg' %}" alt="Lifting improvement leaderboard card image cap">
					  <div class="card-body">
					    <h3 class="card-title">Improvement</h3>
					    <a href="{% url 'playerprogress:lifting-improvement-leaderboards' %}" class="btn btn-danger shadow">
					    	View Leaderboards
					    </a>
					  </div>
					</div>
				</div>
				<div class="col-md-3"></div>

			</div>

		</div>
	{% endif %}

	{% if velocity_data_exists %}
		<div class="container text-center mt-3">
			
			<hr>
			<h2 class="section-header display-4">Velocity</h2>
			<div class="row">

				<div class="col-md mb-4 mx-auto w-75">
					<div class="card shadow border border-dark">
					  <img class="card-img-top" src="{% static 'img/playerprogress/velocity-improvement.jpeg' %}" alt="Velocity improvement leaderboard card image cap">
					  <div class="card-body">
					    <h3 class="card-title">Improvement</h3>
					    <a href="{% url 'playerprogress:velocity-improvement-leaderboards' %}" class="btn btn-danger">
					    	View Leaderboards
					    </a>
					  </div>
					</div>
				</div>

				<div class="col-md mb-4 mx-auto w-75">
					<div class="card shadow border border-dark">
					  <img class="card-img-top" src="{% static 'img/playerprogress/velocity-performance.jpeg' %}" alt="Velocity performance leaderboard card image cap">
					  <div class="card-body">
					    <h3 class="card-title">Performance</h3>
					    <a href="{% url 'playerprogress:velocity-performance-leaderboards' %}" class="btn btn-danger">
					    	View Leaderboards
					    </a>
					  </div>
					</div>
				</div>

			</div>

		</div>
	{% endif %}

	{% if time_data_exists %}
		<div class="container text-center mt-3">
			
			<hr>
			<h2 class="section-header display-4">Time</h2>
			<div class="row">

				<div class="col-md mb-4 mx-auto w-75">
					<div class="card shadow border border-dark">
					  <img class="card-img-top" src="{% static 'img/playerprogress/time-improvement.jpeg' %}" alt="Time improvement leaderboard card image cap">
					  <div class="card-body">
					    <h3 class="card-title">Improvement</h3>
					    <a href="{% url 'playerprogress:time-improvement-leaderboards' %}" class="btn btn-danger">
					    	View Leaderboards
					    </a>
					  </div>
					</div>
				</div>

				<div class="col-md mb-4 mx-auto w-75">
					<div class="card shadow border border-dark">
					  <img class="card-img-top" src="{% static 'img/playerprogress/time-performance.jpeg' %}" alt="Time performance leaderboard card image cap">
					  <div class="card-body">
					    <h3 class="card-title">Performance</h3>
					    <a href="{% url 'playerprogress:time-performance-leaderboards' %}" class="btn btn-danger">
					    	View Leaderboards
					    </a>
					  </div>
					</div>
				</div>

			</div>

		</div>
	{% endif %}

	{% if distance_data_exists %}
		<div class="container text-center mt-3">
			
			<hr>
			<h2 class="section-header display-4">Distance</h2>
			<div class="row">

				<div class="col-md mb-4 mx-auto w-75">
					<div class="card shadow border border-dark">
					  <img class="card-img-top" src="{% static 'img/playerprogress/distance-improvement.jpeg' %}" alt="Distance improvement leaderboard card image cap">
					  <div class="card-body">
					    <h3 class="card-title">Improvement</h3>
					    <a href="{% url 'playerprogress:distance-improvement-leaderboards' %}" class="btn btn-danger">
					    	View Leaderboards
					    </a>
					  </div>
					</div>
				</div>
				
				<div class="col-md mb-4 mx-auto w-75">
					<div class="card shadow border border-dark">
					  <img class="card-img-top" src="{% static 'img/playerprogress/distance-performance.jpeg' %}" alt="Distance performance leaderboard card image cap">
					  <div class="card-body">
					    <h3 class="card-title">Performance</h3>
					    <a href="{% url 'playerprogress:distance-performance-leaderboards' %}" class="btn btn-danger">
					    	View Leaderboards
					    </a>
					  </div>
					</div>
				</div>

			</div>

		</div>
	{% endif %}
	-->

	<div class="container text-center mt-3 pt-2">
		
		<hr>
		<h2 class="section-header display-4">Misc.</h2>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 mb-5 mx-auto w-75">
				<div class="card shadow border border-dark">
					<img class="card-img-top" src="{% static 'img/playerprogress/misc-improvement.jpeg' %}" alt="Misc improvement leaderboard card image cap">
					<div class="card-body">
					<h3 class="card-title">Improvement</h3>
					<a href="{% url 'playerprogress:misc-improvement-leaderboards' %}" class="btn btn-danger">
						View Leaderboards
					</a>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>

	</div>

{% endblock %}